.jilora {
    margin: 0;
    position: relative;
    font-size: inherit;
    letter-spacing: -0.01em;
    line-height: 150%;
    font-weight: 600;
    font-family: inherit;
    display: inline-block;
    min-width: 94px;
  }
  .jilora-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-3xs);
  }
  .administrateur {
    position: relative;
    font-size: var(--small-text-size);
    line-height: 150%;
    font-weight: 500;
    display: inline-block;
    min-width: 114px;
  }
  .frame-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .bigpicture {
    margin-top: -2px;
    position: relative;
    line-height: 150%;
    font-weight: 500;
    display: inline-block;
    min-width: 117px;
  }
  .item-1 {
    height: 32px;
    box-shadow: var(--button-shadow);
    border-radius: var(--br-9xs);
    background-color: var(--color-white);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xs);
    box-sizing: border-box;
  }
  .dtails {
    margin-top: -2px;
    position: relative;
    line-height: 150%;
    font-weight: 500;
    display: inline-block;
    min-width: 79px;
  }
  .item-2 {
    height: 32px;
    border-radius: var(--br-9xs);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xs);
    box-sizing: border-box;
  }
  .archives {
    margin-top: -2px;
    position: relative;
    line-height: 150%;
    font-weight: 500;
    display: inline-block;
    min-width: 100px;
  }
  .item-3 {
    height: 32px;
    border-radius: var(--br-9xs);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xs);
    box-sizing: border-box;
  }
  .popular {
    position: relative;
    line-height: 150%;
    font-weight: 500;
  }
  .item-4 {
    align-self: stretch;
    border-radius: var(--br-9xs);
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 var(--padding-xs);
    font-size: var(--small-text-size);
  }
  .new-releases {
    position: relative;
    line-height: 150%;
    font-weight: 500;
    white-space: nowrap;
  }
  .item-5 {
    align-self: stretch;
    border-radius: var(--br-9xs);
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 var(--padding-xs);
    font-size: var(--small-text-size);
  }
  .segmented-control,
  .segmented-control1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .segmented-control1 {
    border-radius: var(--br-5xs);
    background-color: #f7f7f7;
    flex-direction: row;
    padding: var(--padding-9xs) 0 var(--padding-9xs) var(--padding-9xs);
  }
  .segmented-control {
    flex-direction: column;
    padding: 7px var(--padding-3xs) 0 0;
    box-sizing: border-box;
    max-width: 100%;
    font-size: var(--font-size-5xl);
  }
  .log-out {
    position: relative;
    font-size: var(--small-text-size);
    line-height: 150%;
    font-weight: 500;
    font-family: var(--small-text);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    min-width: 58px;
  }
  .button,
  .button-logout,
  .navigation {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .button {
    cursor: pointer;
    border: 0;
    padding: var(--padding-5xs) 16px;
    background-color: var(--text-primary);
    border-radius: var(--br-5xs);
    flex-direction: row;
    white-space: nowrap;
  }
  .button:hover {
    background-color: #333;
  }
  .button-logout,
  .navigation {
    flex-direction: column;
    padding: 6px 0 0;
  }
  .navigation {
    align-self: stretch;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-gainsboro);
    box-sizing: border-box;
    overflow: hidden;
    flex-direction: row;
    justify-content: space-between;
    padding: 48px 76px 21px 62px;
    max-width: 100%;
    gap: var(--gap-xl);
    text-align: left;
    font-size: 36px;
    color: var(--text-primary);
    font-family: var(--small-text);
  }
  .n-of,
  .operateur {
    position: relative;
    line-height: 150%;
    font-weight: 600;
  }
  .n-of {
    display: inline-block;
    min-width: 63px;
  }
  .operateur {
    flex: 1;
  }
  .n-of-parent {
    width: 284px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 88px;
  }
  .consulter,
  .modifier {
    position: relative;
    line-height: 150%;
    font-weight: 600;
    display: inline-block;
  }
  .consulter {
    flex: 1;
    min-width: 86px;
  }
  .modifier {
    min-width: 105px;
  }
  .modifier-wrapper {
    flex: 0.854;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xl) 0 0;
    box-sizing: border-box;
    min-width: 89px;
  }
  .about {
    height: 42px;
    position: relative;
    line-height: 24px;
    font-weight: 600;
    display: inline-block;
    flex-shrink: 0;
    min-width: 116px;
  }
  .about-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-11xs) 0 0;
    font-size: var(--font-size-5xl);
    color: #f15e5e;
    font-family: var(--font-abel);
  }
  .button-consulter-modifier {
    width: 448px;
    justify-content: flex-start;
    gap: var(--gap-12xl);
  }
  .button-consulter-modifier,
  .frame-group,
  .list-inner {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-group {
    flex: 1;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .list-inner {
    align-self: stretch;
    justify-content: flex-start;
    padding: 0 13px 0 var(--padding-5xs);
    box-sizing: border-box;
  }
  .of-1 {
    align-self: stretch;
    position: relative;
    line-height: 150%;
    font-weight: 500;
  }
  .of-1-wrapper {
    width: 54px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-4xl) 0 0;
    box-sizing: border-box;
  }
  .dupont {
    position: relative;
    line-height: 150%;
    font-weight: 500;
    display: inline-block;
    min-width: 94px;
  }
  .dupont-wrapper {
    width: 154px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-4xl) var(--padding-xl) 0 0;
    box-sizing: border-box;
  }
  .progress-bar {
    width: 240px;
    flex: 1;
    position: relative;
  }
  .progress-bar-wrapper {
    height: 64px;
    width: 382px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .image-1-icon {
    width: 44.4px;
    height: 40px;
    position: relative;
    object-fit: cover;
  }
  .image-1-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 0 var(--padding-xs);
  }
  .logo-modifier-1 {
    width: 59px;
    height: 59px;
    position: relative;
    object-fit: cover;
  }
  .logo-modifier-1-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 0 var(--padding-11xs);
  }
  .logo-supprimer-1 {
    align-self: stretch;
    width: 70px;
    position: relative;
    max-height: 100%;
    object-fit: cover;
    min-height: 64px;
  }
  .frame-div {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .frame-container,
  .frame-wrapper {
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-wrapper {
    width: 385px;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-11xs) 0 0;
  }
  .frame-container {
    align-self: stretch;
    border-top: 1px solid var(--color-gainsboro);
    flex-direction: row;
    justify-content: space-between;
    padding: 0 var(--padding-20xl) 3px var(--padding-xs);
    gap: var(--gap-xl);
  }
  .of-2 {
    align-self: stretch;
    position: relative;
    line-height: 150%;
    font-weight: 500;
  }
  .of-2-wrapper {
    width: 54px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-4xl) 0 0;
    box-sizing: border-box;
  }
  .tamak {
    position: relative;
    line-height: 150%;
    font-weight: 500;
  }
  .tamak-wrapper {
    width: 154px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-4xl) var(--padding-xl) 0 0;
    box-sizing: border-box;
  }
  .progress-bar1 {
    width: 240px;
    flex: 1;
    position: relative;
  }
  .progress-bar-container {
    height: 64px;
    width: 382px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .image-1-icon1 {
    width: 44.4px;
    height: 40px;
    position: relative;
    object-fit: cover;
  }
  .image-1-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 0 var(--padding-xs);
  }
  .logo-modifier-11 {
    width: 59px;
    height: 59px;
    position: relative;
    object-fit: cover;
  }
  .logo-modifier-1-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 0 var(--padding-11xs);
  }
  .logo-supprimer-11 {
    align-self: stretch;
    width: 70px;
    position: relative;
    max-height: 100%;
    object-fit: cover;
    min-height: 64px;
  }
  .frame-parent2 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .frame-wrapper1 {
    width: 385px;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-11xs) 0 0;
    box-sizing: border-box;
  }
  .frame-parent1,
  .frame-wrapper1,
  .list-items,
  .list1 {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-parent1 {
    align-self: stretch;
    border-top: 1px solid var(--color-gainsboro);
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 var(--padding-20xl) var(--padding-9xs) var(--padding-xs);
    gap: var(--gap-xl);
  }
  .list-items,
  .list1 {
    flex-direction: column;
    justify-content: flex-start;
  }
  .list-items {
    align-self: stretch;
    color: var(--text-primary);
  }
  .list1 {
    flex: 1;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);
    border-radius: var(--br-5xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-gainsboro);
    box-sizing: border-box;
    overflow: hidden;
    padding: 18px var(--padding-4xl) 716px;
    gap: var(--gap-12xl);
  }
  .crer-un-nouvel,
  .list {
    font-family: var(--small-text);
    text-align: left;
  }
  .list {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-5xl) 10.9px;
    box-sizing: border-box;
    max-width: 100%;
    font-size: var(--font-size-xl);
    color: var(--color-gray);
  }
  .crer-un-nouvel {
    position: relative;
    font-size: var(--small-text-size);
    line-height: 150%;
    font-weight: 500;
    color: var(--color-white);
  }
  .button1 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-4xl) 45.5px;
    background-color: var(--color-blue);
    border-radius: var(--br-5xs);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    white-space: nowrap;
  }
  .button1:hover {
    background-color: #33f;
  }
  .crer-un-nouvel1 {
    position: relative;
    line-height: 150%;
    font-weight: 500;
  }
  .button-parent,
  .button2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .button2 {
    border-radius: var(--br-5xs);
    background-color: var(--color-blue);
    justify-content: flex-start;
    padding: var(--padding-4xl) 73.5px;
    white-space: nowrap;
  }
  .button-parent {
    flex: 1;
    justify-content: space-between;
    max-width: 100%;
    gap: var(--gap-xl);
  }
  .button-new,
  .desktop-1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .button-new {
    align-self: stretch;
    flex-direction: row;
    padding: 0 var(--padding-5xl);
    max-width: 100%;
    text-align: left;
    font-size: var(--small-text-size);
    color: var(--color-white);
    font-family: var(--small-text);
  }
  .desktop-1 {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    overflow: hidden;
    flex-direction: column;
    padding: 0 0 69px;
    gap: 57px;
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 1200px) {
    .frame-container,
    .frame-parent1 {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 1050px) {
    .frame-group {
      flex-wrap: wrap;
    }
    .list1 {
      padding-bottom: 465px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 750px) {
    .navigation {
      padding-left: 31px;
      padding-right: 38px;
      box-sizing: border-box;
    }
    .button-consulter-modifier {
      flex-wrap: wrap;
    }
    .list1 {
      gap: var(--gap-mini);
      padding-bottom: 302px;
      box-sizing: border-box;
    }
    .button-parent {
      flex-wrap: wrap;
    }
    .desktop-1 {
      gap: 28px;
    }
  }
  @media screen and (max-width: 450px) {
    .n-of,
    .operateur {
      font-size: var(--small-text-size);
      line-height: 24px;
    }
    .n-of-parent {
      gap: 44px;
    }
    .consulter,
    .modifier {
      font-size: var(--small-text-size);
      line-height: 24px;
    }
    .modifier-wrapper {
      flex: 1;
    }
    .about {
      font-size: 19px;
      line-height: 19px;
    }
    .button-consulter-modifier {
      gap: var(--gap-mini);
    }
    .dupont,
    .of-1 {
      font-size: var(--small-text-size);
      line-height: 24px;
    }
    .frame-div {
      flex-wrap: wrap;
    }
    .of-2,
    .tamak {
      font-size: var(--small-text-size);
      line-height: 24px;
    }
    .frame-parent2 {
      flex-wrap: wrap;
    }
    .button1,
    .button2 {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
  }
  