/* Style du tableau */
.tableau {
  width: 100%;
  border-collapse: collapse;
}

.tableau th, .tableau td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Style des liens */
.tableau a {
  color: #007bff; /* Bleu pour les liens */
  text-decoration: none;
}

h2{
  font-weight : bold;
}

.tableau a:hover {
  text-decoration: underline;
}

/* Style des boutons dans le footer */
footer {
  text-align: center;
  margin-top: 20px;
}

.button {
  background-color: #007bff; /* Bleu pour le bouton */
  color: #fff; /* Texte blanc */
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 20px; /* Coins arrondis */
  transition: background-color 0.3s ease;
  font-family: 'Arial', sans-serif; /* Mise en forme de la police */
}

.button a {
  text-decoration: none;
}

.button:hover {
  background-color: #0056b3; /* Changement de couleur au survol */
}

